.wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
  }
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 120vh;
  }
  
  .section2 {
    padding-top: 2%;
    padding-bottom: 5%;
    position: relative;
    align-items: center;
    justify-content: center;
    //added
    margin: 15% 0px 0px 25%;
    margin-bottom: 10%;
    // left: 0px;
    // top: -870px;
  }

  .section3 {
    top: -539px;
    padding-top: 2%;
    position: relative;
    align-items: center;
    justify-content: center;
    //added
    // margin: 15% 0px 0px 15%;
    // left: 0px;
    // top: -870px;
    height:100vh;
  }

  .sect3{
    background: #231d1a;
    margin: 0 auto !important;
    // box-shadow: 0px 0px 23px -1px #060606;
    padding: 5% !important;
  }
  
  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    background-position: bottom center;
  }

  .parallax2::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Move the pseudo-element back away from the camera,
     * then scale it back up to fill the viewport.
     * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    background-position: bottom center;
  }
  
  /* The styling for the static div. */
  .static {
    // background: #55392c;
    background: #1b1614;
  }



  
  /* Sets the actual background images to adorable kitties. This part is crucial. */


  .afterbg::before{
    content: " ";
    position: absolute;
    height: 200px ;
    top:110vh ;
    z-index: -1;
    transform: translateZ(-1px) scale(1.5);
    background-size: cover;
    z-index: -1;
    background-position: center center;
  }

  .bg1::after {
    background-image: url("../images/img_lamp9.jpg");
    // background-image: linear-gradient(0, #29282b, transparent), url("../images/img_lamp9.jpg");
    background-image: linear-gradient( 0deg, #1b1614 2%, rgba(27, 22, 20, 0) 19%),url("../images/img_lamp9.jpg");

  }

  .bg2::after {
    // background-image: url("../images/img_lamp9.jpg");
    // background-image: linear-gradient(0, #29282b, transparent), url("../images/img_lamp9.jpg");
    background-image: linear-gradient( 0deg, #1b1614 6%, rgba(27, 22, 20, 0) 54%),url("../images/img_lamp9.jpg");
    background-repeat: repeat, no-repeat;
  }

  .bottombg{
    height: 80vh;
    width: 100%;
    background: orange;
    z-index: -10;
    margin-top: 6px;
    position: absolute;
    background-image: url("../images/img_lamp9.jpg");
  }

  .afterbg{
    z-index: -1;
  }

  .bg2better{
    z-index: -10;
    top: 171px;
    background-position: -44px -45px;
    height: 200px !important;
  }



  .features_img{
    box-shadow: rgb(0 0 0 / 32%) 0px 0px 23px -1px;
  }

  